@model Abrar_Bookstore.Models.Author

@{
    ViewData["Title"] = "Details";
}

<h1 class="text-center" 1>Details of - @Model.AuthorName - Author</h1>

<div>
    <h4>Author</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AuthorId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AuthorId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AuthorName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AuthorName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AuthorBio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AuthorBio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>
    </dl>
</div>
<hr />
<div>
    <a asp-action="Edit" asp-route-id="@Model.AuthorId" class="btn btn-outline-info float-right">Update</a>
    <a asp-action="Index" class="btn btn-outline-secondary mr-2">Show All Authors</a>
</div>
